body
  {
    background-color:#98FB98;
    color: #ffffff;
  }

#nav
  {
    background-color:#000000;
    height:100px;
    position:fixed;
    top:0;
    left:0;
    right:0;
  }


#maplinkbox
  {
    text-align:center;
    padding-top:120px;
  }

#maplink
  {
    text-decoration: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;  
    font-size: 30px;
    color: #000000;
  }
