body
  {
    background-color:#98FB98;
    color: #ffffff;
  }

#nav
  {
    background-color:#000000;
    height:75px;
    position:fixed;
    top:0;
    left:0;
  }

.navitem
  {
    position:relative;
    padding-left:40;
    padding-right:40;
    float:left;
    bottom:-30px;
  }
#maplinkbox
  {
    text-align:center;
    padding-top:100px;
  }

#maplink
  {
    text-decoration: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;  
    font-size: 30px;
    color: #000000;
  }
