body
  {
    background-color:#66ff66;
  }

#maplink
  {
    text-decoration: none;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;  
    font-size: 20;
    color: #000000;
  }
